// FOOTER :: START

footer.footer
  a.footer__top(href="#section-top") 
    i(class="fas fa-arrow-up") 
    | наверх
  .footer__wrapper
    .container
      .footer__grid
        .footer__item
          a.footer__logotype(href="/homepage.html")
            img(src="img/logo-footer.svg", alt="")
            span бюстократия
        .footer__item.footer__item--absolute
          p 2018 © Бюстократия. Магазин нижнего белья
        .footer__item
          a.footer__item-title(href="#") 
            span Помощь
          a.footer__link(href="#") 
            span Доставка
          a.footer__link(href="#") 
            span Оплата
          a.footer__link(href="#") 
            span Возврат
        .footer__item
          a.footer__item-title(href="#") 
            span Магазин
          a.footer__link(href="#") 
            span О магазине
          a.footer__link(href="#") 
            span Вакансии
          a.footer__link(href="#") 
            span Партнёрам
        .footer__item
          p.footer__item-title Соцсети
          .footer__socials
            a(href="#")
              i(class="fab fa-facebook-f")
            a(href="#")
              i(class="fab fa-vk")
            a(href="#")
              i(class="fab fa-youtube")
            a(href="#")
              i(class="fab fa-odnoklassniki")
            a(href="#")
              i(class="fab fa-instagram")
        .footer__item
          a.footer__item-title(href="tel+74951506586") 
            span +7 495 150 65 86
          p.footer__info Ежедневно с 9:00 до 21:00
          a.footer__map(href="#")
            span Москва, Ленинский пр-т, 12
      
      
// FOOTER :: END
