// HEADER :: START
section#section-top
header.header.arial
  .container
    .header__wrapper
      a.header__logotype(href="#")
        img.desktop(src="img/logotype.png", alt="")
        img.mobile(src="img/logotype-mobile.svg", alt="")
      .header__menu
        a.header__menu-link(href="#") Объекты
        a.header__menu-link(href="#") Отчёты
        a.header__menu-link(href="#") Актуализация
      .header__log-out
        .header__name
          p Константин
          p Константинопольский
        a.header__log-image(href="#")
          img(src="img/log-out.png", alt="")

        
      

// HEADER :: END