---
title: jq-cabinet
---
extends shared/_layout
block content

  // BEGIN SECTION :: new page edit
  section.edit-page
    .container
      .edit-page__head
        h2 Редактирование объекта:
        h2 Дом в Сады Майендорф, б/н — ID 19567
      form(action="#")
        .edit-page__types
          p.edit-page__types-title Тип объекта
          .input-checkbox--radio
            label Дом
              input(type='radio' name="group1")
              span.checkmark
          .input-checkbox--radio
            label Участок
              input(type='radio' name="group1")
              span.checkmark
          .input-checkbox--radio
            label Таунхаус
              input(type='radio' name="group1")
              span.checkmark
          .input-checkbox--radio
            label Квартира
              input(type='radio' name="group1")
              span.checkmark
          .input-checkbox--radio
            label Офис
              input(type='radio' name="group1")
              span.checkmark
        .edit-page__location
          p.edit-page__types-title Локация
          .edit-page__location-select
            p Посёлок
            select
              option(value="val1") Поселок #1
              option(value="val2") Поселок #2
              option(value="val3") Поселок #3
              option(value="val4") Поселок #4
            a.edit-page__location-link(href="#")
              span Точное расположение на карте
          .edit-page__location-input
            p Улица
            .input-container
              input(type="text", name="")
          .edit-page__location-input.i-number
            p № дома / участка
            .input-container
              input(type="text", name="")
          .edit-page__location-input.i-kadastr
            p Кадастровый номер
            .input-container
              input(type="text", name="")
        .edit-page__map
          img(src="img/mapjq.jpg", alt="")
          .edit-page__map-info
            .edit-page__map-left
              p Долгота:
                span 37,3019104000
              p Широта:
                span  55,7892380000
            .edit-page__map-right
              a(href="#") Скопировать метку для отправки в Whatsapp
              a(href="#") Открыть в Яндекс.Картах

        .edit-page__button
          input.btn(type="submit", value="Сохранить")
          .edit-page__button-radio
            .input-checkbox--radio
              label и продолжить редактирование
                input(type='radio' name="group2")
                span.checkmark
            .input-checkbox--radio
              label перейти в список
                input(type='radio' name="group2")
                span.checkmark
            .input-checkbox--radio
              label добавить ещё 1 объект
                input(type='radio' name="group2")
                span.checkmark
      .edit-page__visibility
        form(action="#")
          p.edit-page__types-title.edit-page__border Видимость на сайте
          .edit-page__visibility-checkboxes
            .input-checkbox
              label Закрытая продажа
                input(type='checkbox')
                span.checkmark
            .input-checkbox
              label Без фото
                input(type='checkbox')
                span.checkmark
            .input-checkbox
              label Без цены
                input(type='checkbox')
                span.checkmark
            .input-checkbox
              label Без перехода в карточку
                input(type='checkbox')
                span.checkmark
          .edit-page__button
            input.btn(type="submit", value="Сохранить")
            .edit-page__button-radio
              .input-checkbox--radio
                label и продолжить редактирование
                  input(type='radio' name="group2")
                  span.checkmark
              .input-checkbox--radio
                label перейти в список
                  input(type='radio' name="group2")
                  span.checkmark
              .input-checkbox--radio
                label добавить ещё 1 объект
                  input(type='radio' name="group2")
                  span.checkmark
      // блок продажа аренда начало
      .edit-page__pa
        .edit-page__pa-grid
          .edit-page__pa-left
            form(action="#")
              .edit-page__pa-item(style="min-height: 418px;")
                p.edit-page__types-title.edit-page__border Продажа
                .edit-page__pa-row
                  .edit-page__pa-flex.edit-page__pa-flex--select
                    p Статус
                    select
                      option(value="val1") Статус #1
                      option(value="val2") Статус #2
                      option(value="val3") Статус #3
                      option(value="val4") Статус #4

                .edit-page__pa-row
                  p Стоимость
                  .edit-page__pa-flex
                    .input-container.input-container--price
                      input(type="text", name="")
                    .filter__currency
                      .input-radio
                        label
                          input(type='radio' name="currency" checked)
                          span ₽
                      .input-radio
                        label
                          input(type='radio' name="currency")
                          span $
                      .input-radio
                        label
                          input(type='radio' name="currency")
                          span €
                  .edit-page__pa-checkboxes
                    .input-checkbox
                      label Возможна ипотека
                        input(type='checkbox' checked)
                        span.checkmark
                    .input-checkbox
                      label Возможна рассрочка
                        input(type='checkbox')
                        span.checkmark
              .edit-page__pa-item(style="min-height: 228px;")
                p.edit-page__types-title.edit-page__border Комиссия
                .edit-page__pa-row
                  p С собственника
                  .edit-page__pa-flex
                    .edit-page__pa-flex-part
                      .input-container.input-container--percent
                        input(type="text", name="")
                        p %
                      p.fix или фикс
                      .input-container.input-container--price
                        input(type="text", name="")
                    .filter__currency
                      .input-radio
                        label
                          input(type='radio' name="currency" checked)
                          span ₽
                      .input-radio
                        label
                          input(type='radio' name="currency")
                          span $
                      .input-radio
                        label
                          input(type='radio' name="currency")
                          span €
              .edit-page__pa-item
                p.edit-page__types-title.edit-page__border Площадки
                .edit-page__pa-row.edit-page__pa-row--flex-end
                  .edit-page__pa-row-part
                    .input-checkbox
                      label Выгружать на cian.ru
                        input(type='checkbox' checked)
                        span.checkmark
                    select
                      option(value="val1") Премиум #1
                      option(value="val2") Премиум #2
                      option(value="val3") Премиум #3
                      option(value="val4") Премиум #4
                  .edit-page__pa-row-part--input
                    p Ставка
                    .input-container.input-container--price
                      input(type="text", name="")
                .edit-page__pa-row.edit-page__pa-row--flex-end
                  .edit-page__pa-row-part
                    .input-checkbox
                      label Выгружать на Яндекс.Недвижимость
                        input(type='checkbox' checked)
                        span.checkmark
                    select
                      option(value="val1") Премиум #1
                      option(value="val2") Премиум #2
                      option(value="val3") Премиум #3
                      option(value="val4") Премиум #4
                  .edit-page__pa-row-part--input
                    p Ставка
                    .input-container.input-container--price
                      input(type="text", name="")
              .edit-page__button
                input.btn(type="submit", value="Сохранить")
          .edit-page__pa-right
            form(action="#")
              .edit-page__pa-item(style="min-height: 418px;")
                p.edit-page__types-title.edit-page__border Аренда
                .edit-page__pa-row
                  .edit-page__pa-flex.edit-page__pa-flex--select
                    p Статус
                    select
                      option(value="val1") Статус #1
                      option(value="val2") Статус #2
                      option(value="val3") Статус #3
                      option(value="val4") Статус #4

                .edit-page__pa-row.edit-page__pa-row--flex-start
                  .edit-page__pa-row-part
                    p Стоимость в месяц
                    .edit-page__pa-flex
                      .input-container.input-container--price
                        input(type="text", name="")
                      .filter__currency
                        .input-radio
                          label
                            input(type='radio' name="currency" checked)
                            span ₽
                        .input-radio
                          label
                            input(type='radio' name="currency")
                            span $
                        .input-radio
                          label
                            input(type='radio' name="currency")
                            span €
                  .edit-page__pa-radio-vertical
                    p Минимальный период
                    .input-checkbox--radio
                      label год
                        input(type='radio' name="group4")
                        span.checkmark
                    .input-checkbox--radio
                      label месяц
                        input(type='radio' name="group4")
                        span.checkmark
                    .input-checkbox--radio
                      label сутки
                        input(type='radio' name="group4")
                        span.checkmark
                .edit-page__pa-row--flex-start
                  .edit-page__pa-row-part
                    .edit-page__pa-row
                      p Залог аренды
                      select
                        option(value="val1") Залог аренды #1
                        option(value="val2") Залог аренды #2
                        option(value="val3") Залог аренды #3
                        option(value="val4") Залог аренды #4
                    .edit-page__pa-row
                      p Предоплата
                      select
                        option(value="val1") Предоплата #1
                        option(value="val2") Предоплата #2
                        option(value="val3") Предоплата #3
                        option(value="val4") Предоплата #4
                  .edit-page__pa-checkboxes-vertical
                    .input-checkbox
                      label Можно с детьми
                        input(type='checkbox' checked)
                        span.checkmark
                    .input-checkbox
                      label Можно с животными
                        input(type='checkbox')
                        span.checkmark
                    .input-checkbox
                      label Коммунальные платежи включены
                        input(type='checkbox')
                        span.checkmark
              .edit-page__pa-item(style="min-height: 228px;")
                p.edit-page__types-title.edit-page__border Комиссия
                .edit-page__pa-row
                  p С собственника
                  .edit-page__pa-flex
                    .edit-page__pa-flex-part
                      .input-container.input-container--percent
                        input(type="text", name="")
                        p %
                      p.fix или фикс
                      .input-container.input-container--price
                        input(type="text", name="")
                    .filter__currency
                      .input-radio
                        label
                          input(type='radio' name="currency" checked)
                          span ₽
                      .input-radio
                        label
                          input(type='radio' name="currency")
                          span $
                      .input-radio
                        label
                          input(type='radio' name="currency")
                          span €
                .edit-page__pa-row
                  p С арендатора
                  .edit-page__pa-flex
                    .edit-page__pa-flex-part
                      .input-container.input-container--percent
                        input(type="text", name="")
                        p %
                      p.fix или фикс
                      .input-container.input-container--price
                        input(type="text", name="")
                    .filter__currency
                      .input-radio
                        label
                          input(type='radio' name="currency" checked)
                          span ₽
                      .input-radio
                        label
                          input(type='radio' name="currency")
                          span $
                      .input-radio
                        label
                          input(type='radio' name="currency")
                          span €
              .edit-page__pa-item
                p.edit-page__types-title.edit-page__border Площадки
                .edit-page__pa-row.edit-page__pa-row--flex-end
                  .edit-page__pa-row-part
                    .input-checkbox
                      label Выгружать на cian.ru
                        input(type='checkbox' checked)
                        span.checkmark
                    select
                      option(value="val1") Премиум #1
                      option(value="val2") Премиум #2
                      option(value="val3") Премиум #3
                      option(value="val4") Премиум #4
                  .edit-page__pa-row-part--input
                    p Ставка
                    .input-container.input-container--price
                      input(type="text", name="")
                .edit-page__pa-row.edit-page__pa-row--flex-end
                  .edit-page__pa-row-part
                    .input-checkbox
                      label Выгружать на Яндекс.Недвижимость
                        input(type='checkbox' checked)
                        span.checkmark
                    select
                      option(value="val1") Премиум #1
                      option(value="val2") Премиум #2
                      option(value="val3") Премиум #3
                      option(value="val4") Премиум #4
                  .edit-page__pa-row-part--input
                    p Ставка
                    .input-container.input-container--price
                      input(type="text", name="")
              .edit-page__button
                input.btn(type="submit", value="Сохранить")
        
      // блок продажа аренда конец

      // блок история аренды/продаж начало
      .edit-page__history
        .edit-page__history-link
          a(href="#" js-open-history-container) 
            span Посмотреть историю изменения стоимости и статусов
        .edit-page__history-container
          .edit-page__history-grid
            .edit-page__history-left
              p.edit-page__types-title.edit-page__border Продажа
              .edit-page__history-row
                p.date 20.03.2019
                .edit-page__history-row-part
                  p.price $ 100 000 000
                  p.status Опубликован
              .edit-page__history-row
                p.date 20.03.2019
                .edit-page__history-row-part
                  p.price $ 100 000 000
                  p.status Опубликован
              .edit-page__history-row
                p.date 20.03.2019
                .edit-page__history-row-part
                  p.price $ 100 000 000
                  p.status Опубликован
              .edit-page__history-row
                p.date 20.03.2019
                .edit-page__history-row-part
                  p.price $ 100 000 000
                  p.status Пауза
              .edit-page__history-row
                p.date 20.03.2019
                .edit-page__history-row-part
                  p.price 6 000 000 000 руб.
                  p.status Опубликован
              .edit-page__history-row
                p.date 20.03.2019
                .edit-page__history-row-part
                  p.price 6 250 000 000 руб.
                  p.status Опубликован
            .edit-page__history-right
              p.edit-page__types-title.edit-page__border Аренда
              .edit-page__history-row
                p.date 20.03.2019
                .edit-page__history-row-part
                  p.price $ 160 000
                  p.status Архив
              .edit-page__history-row
                p.date 20.03.2019
                .edit-page__history-row-part
                  p.price $ 160 000
                  p.status Опубликован
      // блок история аренды/продаж конец

      // блок участок начало
      .edit-page__area
        p.edit-page__types-title.edit-page__border Участок
        .edit-page__pa-grid
          .edit-page__pa-left
            .edit-page__area-row
              p Площадь участка, в сотках
              .input-container
                input(type="text", name="")
            .edit-page__area-row
              p Тип участка
              select
                option(value="val1") Полевой #1
                option(value="val2") Полевой #2
                option(value="val3") Полевой #3
                option(value="val4") Полевой #4
            .edit-page__area-row
              p Форма
              select
                option(value="val1") Форма #1
                option(value="val2") Форма #2
                option(value="val3") Форма #3
                option(value="val4") Форма #4

          .edit-page__pa-right
            .edit-page__pa-row.edit-page__area--flex-start
              p Особенности:
              .edit-page__pa-checkboxes-vertical
                .input-checkbox
                  label Газон
                    input(type='checkbox' checked)
                    span.checkmark
                .input-checkbox
                  label Водоём
                    input(type='checkbox')
                    span.checkmark
                .input-checkbox
                  label Плодовые деревья и кустарники
                    input(type='checkbox')
                    span.checkmark
                .input-checkbox
                  label Хвойные деревья (сосны)
                    input(type='checkbox' checked)
                    span.checkmark
                .input-checkbox
                  label Лиственные леревья (берёзы)
                    input(type='checkbox')
                    span.checkmark
                .input-checkbox
                  label Рельефный
                    input(type='checkbox')
                    span.checkmark
                .input-checkbox
                  label Подсветка дорожек
                    input(type='checkbox')
                    span.checkmark
      // блок участок конец

      // блок дом/коммуникации начало
      .edit-page__area
        .edit-page__pa-grid
          .edit-page__pa-left
            p.edit-page__types-title.edit-page__border Дом
            .edit-page__area-grid
              .edit-page__area-grid-item
                .edit-page__area-grid-row
                  p Год постройки
                  .input-container
                    input(type="text", name="")
                .edit-page__area-grid-row
                  p Площадь, м²
                  .input-container
                    input(type="text", name="")
                .edit-page__area-grid-row
                  p Кол-во балконов
                  .input-container
                    input(type="text", name="")
                .edit-page__area-grid-row
                  p Кол-во уровней (этажей)
                  .input-container
                    input(type="text", name="")
              .edit-page__area-grid-item
                .edit-page__area-grid-row
                  p Кол-во спален
                  .input-container
                    input(type="text", name="")
                .edit-page__area-grid-row
                  p Кол-во санузлов
                  .input-container
                    input(type="text", name="")
                .edit-page__area-grid-row
                  p Кол-во лифтов
                  .input-container
                    input(type="text", name="")
                .edit-page__area-grid-row
                  p Высота потолков
                  .input-container
                    input(type="text", name="")

          .edit-page__pa-right.edit-page__pa-right--editable
            p.edit-page__types-title.edit-page__border Коммуникации
            .edit-page__area-row
              p.short Отопление
              select
                option(value="val1") Отопление #1
                option(value="val2") Отопление #2
                option(value="val3") Отопление #3
                option(value="val4") Отопление #4
            .edit-page__area-row
              p.short Канализация
              select
                option(value="val1") Канализация #1
                option(value="val2") Канализация #2
                option(value="val3") Канализация #3
                option(value="val4") Канализация #4
            .edit-page__area--flex-start.edit-page__area--flex-start--editable
              p Водопровод:
              .edit-page__pa-checkboxes-vertical
                .input-checkbox
                  label Собственная скважина
                    input(type='checkbox' checked)
                    span.checkmark
                .input-checkbox
                  label Центральный водопровод
                    input(type='checkbox')
                    span.checkmark
                .input-checkbox
                  label Очистные сооружения
                    input(type='checkbox')
                    span.checkmark
            .edit-page__area-row
              p.short Электричество, кВт (мощность)
              .input-container.input-container--short
                input(type="text", name="")
        .edit-page__visibility-checkboxes
          .input-checkbox
            label Цоколь
              input(type='checkbox')
              span.checkmark
          .input-checkbox
            label Мансарда
              input(type='checkbox')
              span.checkmark
          .input-checkbox
            label Второй свет
              input(type='checkbox')
              span.checkmark
          .input-checkbox
            label Панорамное остекление
              input(type='checkbox')
              span.checkmark
        .edit-page__area-selects
          .edit-page__area-selects-item
            p Состояние
            select
              option(value="val1") Отличное #1
              option(value="val2") Отличное #2
              option(value="val3") Отличное #3
              option(value="val4") Отличное #4
          .edit-page__area-selects-item
            p Ремонт
            select
              option(value="val1") Под черновую отделку #1
              option(value="val2") Под черновую отделку #2
              option(value="val3") Под черновую отделку #3
              option(value="val4") Под черновую отделку #4
          .edit-page__area-selects-item
            p Мебель
            select
              option(value="val1") Отсутствует #1
              option(value="val2") Отсутствует #2
              option(value="val3") Отсутствует #3
              option(value="val4") Отсутствует #4
          .edit-page__area-selects-item
            p Этаж (для квартиры)
            .input-container.input-container--short
              input(type="text", name="")
          
                
      // блок дом/коммуникации конец

      // блок Поэтажное описание начало

      .edit-page__area
        p.edit-page__types-title.edit-page__border Поэтажное описание
        .edit-page__floors
          .edit-page__floors-item
            form(action="#")
              p Цоколь
              .input-container
                textarea
              .edit-page__button
                input.btn(type="submit", value="Добавить поэтажный план")
          .edit-page__floors-item
            form(action="#")
              p 1 этаж
              .input-container
                textarea
              .edit-page__button
                input.btn(type="submit", value="Добавить поэтажный план")
          .edit-page__floors-item
            form(action="#")
              p 2 этаж
              .input-container
                textarea
              .edit-page__button
                input.btn(type="submit", value="Добавить поэтажный план")
          .edit-page__floors-item
            form(action="#")
              p Мансарда
              .input-container
                textarea
              .edit-page__button
                input.btn(type="submit", value="Добавить поэтажный план")
        .edit-page__room
          .edit-page__room-row
            .edit-page__room-row-part
              p Помещение
              p.edit-page__room-info Тренажёрный зал
            .edit-page__room-row-part
              p.middle м²
              .input-container
                input(type="text", name="")
                a.close(href="#") x
          .edit-page__room-row
            .edit-page__room-row-part
              p.edit-page__room-info Кинотеатр
            .edit-page__room-row-part
              .input-container
                input(type="text", name="")
                a.close(href="#") x
            
      // блок Поэтажное описание конец

      // блок Помещения начало
      
      .edit-page__area
        p.edit-page__types-title.edit-page__border Помещения
        .edit-page__rooms
          p.edit-page__rooms-item Холл
          p.edit-page__rooms-item Гостиная
          p.edit-page__rooms-item Санузел
          p.edit-page__rooms-item Кухня
          p.edit-page__rooms-item Столовая
          p.edit-page__rooms-item Спальня
          p.edit-page__rooms-item Мастер-спальня
          p.edit-page__rooms-item Детская
          p.edit-page__rooms-item Кабинет
          p.edit-page__rooms-item Кладовая
          p.edit-page__rooms-item Постирочная
          p.edit-page__rooms-item Сауна
          p.edit-page__rooms-item Комната отдыха
          p.edit-page__rooms-item Балкон
          p.edit-page__rooms-item Тренажёрный зал
          p.edit-page__rooms-item Для персонала
          p.edit-page__rooms-item Кухня для персонала
          p.edit-page__rooms-item Кинотеатр
          p.edit-page__rooms-item Гараж на 1 м/м
          p.edit-page__rooms-item Гараж на 2 м/м
          p.edit-page__rooms-item Терраса
          p.edit-page__rooms-item Игровая
          p.edit-page__rooms-item Винная
          p.edit-page__rooms-item Хамам
          p.edit-page__rooms-item Котельная
          a.edit-page__rooms-open-more(href="#" js-open-rooms)
            span
        .edit-page__button
          input.btn(type="submit", value="Сохранить")
          .edit-page__button-radio
            .input-checkbox--radio
              label и продолжить редактирование
                input(type='radio' name="group2")
                span.checkmark
            .input-checkbox--radio
              label перейти в список
                input(type='radio' name="group2")
                span.checkmark
            .input-checkbox--radio
              label добавить ещё 1 объект
                input(type='radio' name="group2")
                span.checkmark
        .edit-page__rooms-add
          .input-container
            input(type="text" placeholder="Новый тип помещения")
          a.btn(href="#")
            span Добавить
              span.plus

      // блок Помещения конец

      // блок Описание дома конец
      .edit-page__area
        p.edit-page__types-title.edit-page__border Описание дома
        .edit-page__about
          .edit-page__about-buttons
            a(href="#") Для cian.ru
            a.is-active(href="#") Для сайта
          p В данном описании необходимо указывать ту информацию, которая не попадает автоматически формируемый текст в выгрузке или заполняемые на площадке характеристики
          .input-container
            textarea
          .edit-page__button
            input.btn(type="submit", value="Сохранить")
            .edit-page__button-radio
              .input-checkbox--radio
                label и продолжить редактирование
                  input(type='radio' name="group2")
                  span.checkmark
              .input-checkbox--radio
                label перейти в список
                  input(type='radio' name="group2")
                  span.checkmark
              .input-checkbox--radio
                label добавить ещё 1 объект
                  input(type='radio' name="group2")
                  span.checkmark
      // блок Описание дома конец