---
title: jq-cabinet
---
extends shared/_layout
block content

  // BEGIN SECTION :: new page edit
  section.edit-page
    .container
      .edit-page__head
        h2 Редактирование объекта:
        h2 Дом в Сады Майендорф, б/н — ID 19567
      form(action="#")
        .edit-page__types
          p.edit-page__types-title Тип объекта
          .input-checkbox--radio
            label Дом
              input(type='radio' name="group1")
              span.checkmark
          .input-checkbox--radio
            label Участок
              input(type='radio' name="group1")
              span.checkmark
          .input-checkbox--radio
            label Таунхаус
              input(type='radio' name="group1")
              span.checkmark
          .input-checkbox--radio
            label Квартира
              input(type='radio' name="group1")
              span.checkmark
          .input-checkbox--radio
            label Офис
              input(type='radio' name="group1")
              span.checkmark
        .edit-page__location
          p.edit-page__types-title Локация
          .edit-page__location-select
            p Посёлок
            select
              option(value="val1") Поселок #1
              option(value="val2") Поселок #2
              option(value="val3") Поселок #3
              option(value="val4") Поселок #4
            a.edit-page__location-link(href="#")
              span Точное расположение на карте
          .edit-page__location-input
            p Улица
            .input-container
              input(type="text", name="")
          .edit-page__location-input.i-number
            p № дома / участка
            .input-container
              input(type="text", name="")
          .edit-page__location-input.i-kadastr
            p Кадастровый номер
            .input-container
              input(type="text", name="")
        .edit-page__map
          img(src="img/mapjq.jpg", alt="")
          .edit-page__map-info
            .edit-page__map-left
              p Долгота:
                span 37,3019104000
              p Широта:
                span  55,7892380000
            .edit-page__map-right
              a(href="#") Скопировать метку для отправки в Whatsapp
              a(href="#") Открыть в Яндекс.Картах

        .edit-page__button
          input.btn(type="submit", value="Сохранить")
          .edit-page__button-radio
            .input-checkbox--radio
              label и продолжить редактирование
                input(type='radio' name="group2")
                span.checkmark
            .input-checkbox--radio
              label перейти в список
                input(type='radio' name="group2")
                span.checkmark
            .input-checkbox--radio
              label добавить ещё 1 объект
                input(type='radio' name="group2")
                span.checkmark
      .edit-page__visibility
        form(action="#")
          p.edit-page__types-title.edit-page__border Видимость на сайте
          .edit-page__visibility-checkboxes
            .input-checkbox
              label Закрытая продажа
                input(type='checkbox')
                span.checkmark
            .input-checkbox
              label Без фото
                input(type='checkbox')
                span.checkmark
            .input-checkbox
              label Без цены
                input(type='checkbox')
                span.checkmark
            .input-checkbox
              label Без перехода в карточку
                input(type='checkbox')
                span.checkmark
          .edit-page__button
            input.btn(type="submit", value="Сохранить")
            .edit-page__button-radio
              .input-checkbox--radio
                label и продолжить редактирование
                  input(type='radio' name="group2")
                  span.checkmark
              .input-checkbox--radio
                label перейти в список
                  input(type='radio' name="group2")
                  span.checkmark
              .input-checkbox--radio
                label добавить ещё 1 объект
                  input(type='radio' name="group2")
                  span.checkmark
      // блок продажа аренда начало
      .edit-page__pa
        .edit-page__pa-grid
          .edit-page__pa-left
            form(action="#")
              .edit-page__pa-item.editable--height1
                p.edit-page__types-title.edit-page__border Продажа
                .edit-page__pa-row
                  .edit-page__pa-flex.edit-page__pa-flex--select
                    p Статус
                    select
                      option(value="val1") Статус #1
                      option(value="val2") Статус #2
                      option(value="val3") Статус #3
                      option(value="val4") Статус #4

                .edit-page__pa-row
                  p Стоимость
                  .edit-page__pa-flex
                    .input-container.input-container--price
                      input(type="text", name="")
                    .filter__currency
                      .input-radio
                        label
                          input(type='radio' name="currency" checked)
                          span ₽
                      .input-radio
                        label
                          input(type='radio' name="currency")
                          span $
                      .input-radio
                        label
                          input(type='radio' name="currency")
                          span €
                  .edit-page__pa-checkboxes
                    .input-checkbox
                      label Возможна ипотека
                        input(type='checkbox' checked)
                        span.checkmark
                    .input-checkbox
                      label Возможна рассрочка
                        input(type='checkbox')
                        span.checkmark
              .edit-page__pa-item.editable--height2
                p.edit-page__types-title.edit-page__border Комиссия
                .edit-page__pa-row
                  p С собственника
                  .edit-page__pa-flex
                    .edit-page__pa-flex-part
                      .input-container.input-container--percent
                        input(type="text", name="")
                        p %
                      p.fix или фикс
                      .input-container.input-container--price
                        input(type="text", name="")
                    .filter__currency
                      .input-radio
                        label
                          input(type='radio' name="currency" checked)
                          span ₽
                      .input-radio
                        label
                          input(type='radio' name="currency")
                          span $
                      .input-radio
                        label
                          input(type='radio' name="currency")
                          span €
              .edit-page__pa-item
                p.edit-page__types-title.edit-page__border Площадки
                .edit-page__pa-row.edit-page__pa-row--flex-end
                  .edit-page__pa-row-part
                    .input-checkbox
                      label Выгружать на cian.ru
                        input(type='checkbox' checked)
                        span.checkmark
                    select
                      option(value="val1") Премиум #1
                      option(value="val2") Премиум #2
                      option(value="val3") Премиум #3
                      option(value="val4") Премиум #4
                  .edit-page__pa-row-part--input
                    p Ставка
                    .input-container.input-container--price
                      input(type="text", name="")
                .edit-page__pa-row.edit-page__pa-row--flex-end
                  .edit-page__pa-row-part
                    .input-checkbox
                      label Выгружать на Яндекс.Недвижимость
                        input(type='checkbox' checked)
                        span.checkmark
                    select
                      option(value="val1") Премиум #1
                      option(value="val2") Премиум #2
                      option(value="val3") Премиум #3
                      option(value="val4") Премиум #4
                  .edit-page__pa-row-part--input
                    p Ставка
                    .input-container.input-container--price
                      input(type="text", name="")
              .edit-page__button
                input.btn(type="submit", value="Сохранить")
          .edit-page__pa-right
            form(action="#")
              .edit-page__pa-item.editable--height1
                p.edit-page__types-title.edit-page__border Аренда
                .edit-page__pa-row
                  .edit-page__pa-flex.edit-page__pa-flex--select
                    p Статус
                    select
                      option(value="val1") Статус #1
                      option(value="val2") Статус #2
                      option(value="val3") Статус #3
                      option(value="val4") Статус #4

                .edit-page__pa-row.edit-page__pa-row--flex-start
                  .edit-page__pa-row-part
                    p Стоимость в месяц
                    .edit-page__pa-flex
                      .input-container.input-container--price
                        input(type="text", name="")
                      .filter__currency
                        .input-radio
                          label
                            input(type='radio' name="currency" checked)
                            span ₽
                        .input-radio
                          label
                            input(type='radio' name="currency")
                            span $
                        .input-radio
                          label
                            input(type='radio' name="currency")
                            span €
                  .edit-page__pa-radio-vertical
                    p Минимальный период
                    .input-checkbox--radio
                      label год
                        input(type='radio' name="group4")
                        span.checkmark
                    .input-checkbox--radio
                      label месяц
                        input(type='radio' name="group4")
                        span.checkmark
                    .input-checkbox--radio
                      label сутки
                        input(type='radio' name="group4")
                        span.checkmark
                .edit-page__pa-row--flex-start
                  .edit-page__pa-row-part
                    .edit-page__pa-row
                      p Залог аренды
                      select
                        option(value="val1") Залог аренды #1
                        option(value="val2") Залог аренды #2
                        option(value="val3") Залог аренды #3
                        option(value="val4") Залог аренды #4
                    .edit-page__pa-row
                      p Предоплата
                      select
                        option(value="val1") Предоплата #1
                        option(value="val2") Предоплата #2
                        option(value="val3") Предоплата #3
                        option(value="val4") Предоплата #4
                  .edit-page__pa-checkboxes-vertical
                    .input-checkbox
                      label Можно с детьми
                        input(type='checkbox' checked)
                        span.checkmark
                    .input-checkbox
                      label Можно с животными
                        input(type='checkbox')
                        span.checkmark
                    .input-checkbox
                      label Коммунальные платежи включены
                        input(type='checkbox')
                        span.checkmark
              .edit-page__pa-item.editable--height2
                p.edit-page__types-title.edit-page__border Комиссия
                .edit-page__pa-row
                  p С собственника
                  .edit-page__pa-flex
                    .edit-page__pa-flex-part
                      .input-container.input-container--percent
                        input(type="text", name="")
                        p %
                      p.fix или фикс
                      .input-container.input-container--price
                        input(type="text", name="")
                    .filter__currency
                      .input-radio
                        label
                          input(type='radio' name="currency" checked)
                          span ₽
                      .input-radio
                        label
                          input(type='radio' name="currency")
                          span $
                      .input-radio
                        label
                          input(type='radio' name="currency")
                          span €
                .edit-page__pa-row
                  p С арендатора
                  .edit-page__pa-flex
                    .edit-page__pa-flex-part
                      .input-container.input-container--percent
                        input(type="text", name="")
                        p %
                      p.fix или фикс
                      .input-container.input-container--price
                        input(type="text", name="")
                    .filter__currency
                      .input-radio
                        label
                          input(type='radio' name="currency" checked)
                          span ₽
                      .input-radio
                        label
                          input(type='radio' name="currency")
                          span $
                      .input-radio
                        label
                          input(type='radio' name="currency")
                          span €
              .edit-page__pa-item
                p.edit-page__types-title.edit-page__border Площадки
                .edit-page__pa-row.edit-page__pa-row--flex-end
                  .edit-page__pa-row-part
                    .input-checkbox
                      label Выгружать на cian.ru
                        input(type='checkbox' checked)
                        span.checkmark
                    select
                      option(value="val1") Премиум #1
                      option(value="val2") Премиум #2
                      option(value="val3") Премиум #3
                      option(value="val4") Премиум #4
                  .edit-page__pa-row-part--input
                    p Ставка
                    .input-container.input-container--price
                      input(type="text", name="")
                .edit-page__pa-row.edit-page__pa-row--flex-end
                  .edit-page__pa-row-part
                    .input-checkbox
                      label Выгружать на Яндекс.Недвижимость
                        input(type='checkbox' checked)
                        span.checkmark
                    select
                      option(value="val1") Премиум #1
                      option(value="val2") Премиум #2
                      option(value="val3") Премиум #3
                      option(value="val4") Премиум #4
                  .edit-page__pa-row-part--input
                    p Ставка
                    .input-container.input-container--price
                      input(type="text", name="")
              .edit-page__button
                input.btn(type="submit", value="Сохранить")
        
      // блок продажа аренда конец

      // блок история аренды/продаж начало
      .edit-page__history
        .edit-page__history-link
          a(href="#" js-open-history-container) 
            span Посмотреть историю изменения стоимости и статусов
        .edit-page__history-container
          .edit-page__history-grid
            .edit-page__history-left
              p.edit-page__types-title.edit-page__border Продажа
              .edit-page__history-row
                p.date 20.03.2019
                .edit-page__history-row-part
                  p.price $ 100 000 000
                  p.status Опубликован
              .edit-page__history-row
                p.date 20.03.2019
                .edit-page__history-row-part
                  p.price $ 100 000 000
                  p.status Опубликован
              .edit-page__history-row
                p.date 20.03.2019
                .edit-page__history-row-part
                  p.price $ 100 000 000
                  p.status Опубликован
              .edit-page__history-row
                p.date 20.03.2019
                .edit-page__history-row-part
                  p.price $ 100 000 000
                  p.status Пауза
              .edit-page__history-row
                p.date 20.03.2019
                .edit-page__history-row-part
                  p.price 6 000 000 000 руб.
                  p.status Опубликован
              .edit-page__history-row
                p.date 20.03.2019
                .edit-page__history-row-part
                  p.price 6 250 000 000 руб.
                  p.status Опубликован
            .edit-page__history-right
              p.edit-page__types-title.edit-page__border Аренда
              .edit-page__history-row
                p.date 20.03.2019
                .edit-page__history-row-part
                  p.price $ 160 000
                  p.status Архив
              .edit-page__history-row
                p.date 20.03.2019
                .edit-page__history-row-part
                  p.price $ 160 000
                  p.status Опубликован
      // блок история аренды/продаж конец

      // блок участок начало
      .edit-page__area
        p.edit-page__types-title.edit-page__border Участок
        .edit-page__pa-grid
          .edit-page__pa-left
            .edit-page__area-row
              p Площадь участка, в сотках
              .input-container
                input(type="text", name="")
            .edit-page__area-row
              p Тип участка
              select
                option(value="val1") Полевой #1
                option(value="val2") Полевой #2
                option(value="val3") Полевой #3
                option(value="val4") Полевой #4
            .edit-page__area-row
              p Форма
              select
                option(value="val1") Форма #1
                option(value="val2") Форма #2
                option(value="val3") Форма #3
                option(value="val4") Форма #4

          .edit-page__pa-right
            .edit-page__pa-row.edit-page__area--flex-start
              p Особенности:
              .edit-page__pa-checkboxes-vertical
                .input-checkbox
                  label Газон
                    input(type='checkbox' checked)
                    span.checkmark
                .input-checkbox
                  label Водоём
                    input(type='checkbox')
                    span.checkmark
                .input-checkbox
                  label Плодовые деревья и кустарники
                    input(type='checkbox')
                    span.checkmark
                .input-checkbox
                  label Хвойные деревья (сосны)
                    input(type='checkbox' checked)
                    span.checkmark
                .input-checkbox
                  label Лиственные леревья (берёзы)
                    input(type='checkbox')
                    span.checkmark
                .input-checkbox
                  label Рельефный
                    input(type='checkbox')
                    span.checkmark
                .input-checkbox
                  label Подсветка дорожек
                    input(type='checkbox')
                    span.checkmark
      // блок участок конец

      // блок дом/коммуникации начало
      .edit-page__area
        .edit-page__pa-grid
          .edit-page__pa-left
            p.edit-page__types-title.edit-page__border Дом
            .edit-page__area-grid
              .edit-page__area-grid-item
                .edit-page__area-grid-row
                  p Год постройки
                  .input-container
                    input(type="text", name="")
                .edit-page__area-grid-row
                  p Площадь, м²
                  .input-container
                    input(type="text", name="")
                .edit-page__area-grid-row
                  p Кол-во балконов
                  .input-container
                    input(type="text", name="")
                .edit-page__area-grid-row
                  p Кол-во уровней (этажей)
                  .input-container
                    input(type="text", name="")
              .edit-page__area-grid-item
                .edit-page__area-grid-row
                  p Кол-во спален
                  .input-container
                    input(type="text", name="")
                .edit-page__area-grid-row
                  p Кол-во санузлов
                  .input-container
                    input(type="text", name="")
                .edit-page__area-grid-row
                  p Кол-во лифтов
                  .input-container
                    input(type="text", name="")
                .edit-page__area-grid-row
                  p Высота потолков
                  .input-container
                    input(type="text", name="")

          .edit-page__pa-right.edit-page__pa-right--editable
            p.edit-page__types-title.edit-page__border Коммуникации
            .edit-page__area-row
              p.short Отопление
              select
                option(value="val1") Отопление #1
                option(value="val2") Отопление #2
                option(value="val3") Отопление #3
                option(value="val4") Отопление #4
            .edit-page__area-row
              p.short Канализация
              select
                option(value="val1") Канализация #1
                option(value="val2") Канализация #2
                option(value="val3") Канализация #3
                option(value="val4") Канализация #4
            .edit-page__area--flex-start.edit-page__area--flex-start--editable
              p Водопровод:
              .edit-page__pa-checkboxes-vertical
                .input-checkbox
                  label Собственная скважина
                    input(type='checkbox' checked)
                    span.checkmark
                .input-checkbox
                  label Центральный водопровод
                    input(type='checkbox')
                    span.checkmark
                .input-checkbox
                  label Очистные сооружения
                    input(type='checkbox')
                    span.checkmark
            .edit-page__area-row
              p.short Электричество, кВт (мощность)
              .input-container.input-container--short
                input(type="text", name="")
        .edit-page__visibility-checkboxes
          .input-checkbox
            label Цоколь
              input(type='checkbox')
              span.checkmark
          .input-checkbox
            label Мансарда
              input(type='checkbox')
              span.checkmark
          .input-checkbox
            label Второй свет
              input(type='checkbox')
              span.checkmark
          .input-checkbox
            label Панорамное остекление
              input(type='checkbox')
              span.checkmark
        .edit-page__area-selects
          .edit-page__area-selects-item
            p Состояние
            select
              option(value="val1") Отличное #1
              option(value="val2") Отличное #2
              option(value="val3") Отличное #3
              option(value="val4") Отличное #4
          .edit-page__area-selects-item
            p Ремонт
            select
              option(value="val1") Под черновую отделку #1
              option(value="val2") Под черновую отделку #2
              option(value="val3") Под черновую отделку #3
              option(value="val4") Под черновую отделку #4
          .edit-page__area-selects-item
            p Мебель
            select
              option(value="val1") Отсутствует #1
              option(value="val2") Отсутствует #2
              option(value="val3") Отсутствует #3
              option(value="val4") Отсутствует #4
          .edit-page__area-selects-item
            p Этаж (для квартиры)
            .input-container.input-container--short
              input(type="text", name="")
          
                
      // блок дом/коммуникации конец

      // блок Поэтажное описание начало

      .edit-page__area
        p.edit-page__types-title.edit-page__border Поэтажное описание
        .edit-page__floors
          .edit-page__floors-item
            p Цоколь
            .input-container
              textarea
            .edit-page__button
              div.btn(data-text="Добавить поэтажный план")
                input(name="file-upload-field" type="file" class="file-upload-field" value="")
              //- input.btn(type="submit", value="Добавить поэтажный план")
          .edit-page__floors-item
            p 1 этаж
            .input-container
              textarea
            .edit-page__button
              div.btn(data-text="Добавить поэтажный план")
                input(name="file-upload-field" type="file" class="file-upload-field" value="")
              //- input.btn(type="submit", value="Добавить поэтажный план")
          .edit-page__floors-item
            p 2 этаж
            .input-container
              textarea
            .edit-page__button
              div.btn(data-text="Добавить поэтажный план")
                input(name="file-upload-field" type="file" class="file-upload-field" value="")
              //- input.btn(type="submit", value="Добавить поэтажный план")
          .edit-page__floors-item
            p Мансарда
            .input-container
              textarea
            .edit-page__button
              div.btn(data-text="Добавить поэтажный план")
                input(name="file-upload-field" type="file" class="file-upload-field" value="")
              //- input.btn(type="submit", value="Добавить поэтажный план")
        .edit-page__room
          .edit-page__room-row
            .edit-page__room-row-part
              p Помещение
              p.edit-page__room-info Тренажёрный зал
            .edit-page__room-row-part
              p.middle м²
              .input-container
                input(type="text", name="")
                a.close(href="#") x
          .edit-page__room-row
            .edit-page__room-row-part
              p.edit-page__room-info Кинотеатр
            .edit-page__room-row-part
              .input-container
                input(type="text", name="")
                a.close(href="#") x
            
      // блок Поэтажное описание конец

      // блок Помещения начало
      
      .edit-page__area
        p.edit-page__types-title.edit-page__border Помещения
        .edit-page__rooms
          p.edit-page__rooms-item Холл
          p.edit-page__rooms-item Гостиная
          p.edit-page__rooms-item Санузел
          p.edit-page__rooms-item Кухня
          p.edit-page__rooms-item Столовая
          p.edit-page__rooms-item Спальня
          p.edit-page__rooms-item Мастер-спальня
          p.edit-page__rooms-item Детская
          p.edit-page__rooms-item Кабинет
          p.edit-page__rooms-item Кладовая
          p.edit-page__rooms-item Постирочная
          p.edit-page__rooms-item Сауна
          p.edit-page__rooms-item Комната отдыха
          p.edit-page__rooms-item Балкон
          p.edit-page__rooms-item Тренажёрный зал
          p.edit-page__rooms-item Для персонала
          p.edit-page__rooms-item Кухня для персонала
          p.edit-page__rooms-item Кинотеатр
          p.edit-page__rooms-item Гараж на 1 м/м
          p.edit-page__rooms-item Гараж на 2 м/м
          p.edit-page__rooms-item Терраса
          p.edit-page__rooms-item Игровая
          p.edit-page__rooms-item Винная
          p.edit-page__rooms-item Хамам
          p.edit-page__rooms-item Котельная
          a.edit-page__rooms-open-more(href="#" js-open-rooms)
            span
        .edit-page__button
          input.btn(type="submit", value="Сохранить")
          .edit-page__button-radio
            .input-checkbox--radio
              label и продолжить редактирование
                input(type='radio' name="group2")
                span.checkmark
            .input-checkbox--radio
              label перейти в список
                input(type='radio' name="group2")
                span.checkmark
            .input-checkbox--radio
              label добавить ещё 1 объект
                input(type='radio' name="group2")
                span.checkmark
        .edit-page__rooms-add
          .input-container
            input(type="text" placeholder="Новый тип помещения")
          a.btn(href="#")
            span Добавить
              span.plus

      // блок Помещения конец

      // блок Материалы и отделка конец
      form(action="#")
        .edit-page__materials
          .edit-page__area
            p.edit-page__types-title.edit-page__border Материалы и отделка
              .edit-page__pa-grid
                .edit-page__pa-left
                  .edit-page__pa-row
                    .edit-page__pa-flex.edit-page__pa-flex--select
                      p Стены
                      select
                        option(value="val1") Стены #1
                        option(value="val2") Стены #2
                        option(value="val3") Стены #3
                        option(value="val4") Стены #4
                  .edit-page__pa-row
                    .edit-page__pa-flex.edit-page__pa-flex--input
                      p Толщина стен, мм
                      .input-container.input-container--short
                        input(type="text")
                  .edit-page__pa-row
                    .edit-page__pa-flex.edit-page__pa-flex--select
                      p Окна
                      select
                        option(value="val1") Окна #1
                        option(value="val2") Окна #2
                        option(value="val3") Окна #3
                        option(value="val4") Окна #4
                  .edit-page__pa-row
                    .edit-page__pa-flex.edit-page__pa-flex--input
                      p Стеклопакеты, камер
                      .input-container.input-container--short
                        input(type="text")
                .edit-page__pa-right
                  .edit-page__pa-row
                    .edit-page__pa-flex.edit-page__pa-flex--select
                      p Кровля
                      select
                        option(value="val1") Кровля #1
                        option(value="val2") Кровля #2
                        option(value="val3") Кровля #3
                        option(value="val4") Кровля #4
                  .edit-page__pa-row
                    .edit-page__pa-flex.edit-page__pa-flex--select
                      p Фундамент
                      select
                        option(value="val1") Фундамент #1
                        option(value="val2") Фундамент #2
                        option(value="val3") Фундамент #3
                        option(value="val4") Фундамент #4
                  .edit-page__pa-row
                    .edit-page__pa-flex.edit-page__pa-flex--select
                      p Лестница
                      select
                        option(value="val1") Лестница #1
                        option(value="val2") Лестница #2
                        option(value="val3") Лестница #3
                        option(value="val4") Лестница #4
                  .edit-page__pa-row
                    .edit-page__pa-flex.edit-page__pa-flex--select
                      p Без отделки
                      select
                        option(value="val1") Без отделки #1
                        option(value="val2") Без отделки #2
                        option(value="val3") Без отделки #3
                        option(value="val4") Без отделки #4
          .edit-page__area
            .edit-page__pa-grid
              .edit-page__pa-left
                p.edit-page__types-title.edit-page__border Оснащение дома
                .edit-page__materials-area
                  .edit-page__pa-row
                    .edit-page__pa-flex.edit-page__pa-flex--select
                      p Кондиционирование
                      select
                        option(value="val1") Кондиционирование #1
                        option(value="val2") Кондиционирование #2
                        option(value="val3") Кондиционирование #3
                        option(value="val4") Кондиционирование #4
                  .edit-page__pa-row
                    .edit-page__pa-flex.edit-page__pa-flex--select
                      p Вентиляция
                      select
                        option(value="val1") Вентиляция #1
                        option(value="val2") Вентиляция #2
                        option(value="val3") Вентиляция #3
                        option(value="val4") Вентиляция #4
                  .edit-page__pa-row
                    .edit-page__pa-flex.edit-page__pa-flex--select
                      p Интернет
                      select
                        option(value="val1") Интернет #1
                        option(value="val2") Интернет #2
                        option(value="val3") Интернет #3
                        option(value="val4") Интернет #4
                  .edit-page__pa-row
                    .edit-page__pa-flex.edit-page__pa-flex--select
                      p Телевидение
                      select
                        option(value="val1") Телевидение #1
                        option(value="val2") Телевидение #2
                        option(value="val3") Телевидение #3
                        option(value="val4") Телевидение #4
                  .edit-page__pa-row
                    .edit-page__pa-flex.edit-page__pa-flex--select
                      p Домофон
                      select
                        option(value="val1") Домофон #1
                        option(value="val2") Домофон #2
                        option(value="val3") Домофон #3
                        option(value="val4") Домофон #4
                  .edit-page__pa-row
                    .edit-page__pa-flex.edit-page__pa-flex--select
                      p Телефон
                      select
                        option(value="val1") Телефон #1
                        option(value="val2") Телефон #2
                        option(value="val3") Телефон #3
                        option(value="val4") Телефон #4
                  .edit-page__pa-row
                    .edit-page__pa-flex.edit-page__pa-flex--select
                      p Подсветка фасада
                      select
                        option(value="val1") Подсветка фасада #1
                        option(value="val2") Подсветка фасада #2
                        option(value="val3") Подсветка фасада #3
                        option(value="val4") Подсветка фасада #4

              .edit-page__pa-right.edit-page__pa-right--editable
                .edit-page__materials-grid
                  .edit-page__materials-security
                    p.edit-page__types-title.edit-page__border Система охраны
                    .edit-page__materials-area
                      .edit-page__pa-row.edit-page__pa-row--checkboxes
                        .input-checkbox
                          label Сигнализация
                            input(type='checkbox')
                            span.checkmark
                        .input-checkbox
                          label Пультовая охрана
                            input(type='checkbox')
                            span.checkmark
                        .input-checkbox
                          label Видеонаблюдение
                            input(type='checkbox')
                            span.checkmark
                        .input-checkbox
                          label Датчики задымления (противопожарные)
                            input(type='checkbox')
                            span.checkmark
                        .input-checkbox
                          label Датчики протечки воды
                            input(type='checkbox')
                            span.checkmark
                        .input-checkbox
                          label Датчики утечки газа
                            input(type='checkbox')
                            span.checkmark
                  .edit-page__materials-car
                    p.edit-page__types-title.edit-page__border Для машины
                    .edit-page__materials-area
                    .edit-page__pa-row
                      p.info Отдельностоящий гараж нужно добавлять отдельно
                    .edit-page__pa-row
                      .edit-page__pa-flex
                        p Гараж в доме
                        .input-checkbox
                          label Отапливаемый
                            input(type='checkbox')
                            span.checkmark
                    .edit-page__pa-row
                      .edit-page__pa-flex.edit-page__pa-flex--input
                        p Количество м/м
                        .input-container.input-container--short
                          input(type="text")
                    .edit-page__pa-row
                      .edit-page__pa-flex.edit-page__pa-flex--input
                        p Навес для машин, м/м
                        .input-container.input-container--short
                          input(type="text")
                    .edit-page__pa-row
                      .edit-page__pa-flex.edit-page__pa-flex--input
                        p Площадка для машины, м/м
                        .input-container.input-container--short
                          input(type="text")
                    .edit-page__pa-row
                      .edit-page__pa-flex.edit-page__pa-flex--select
                        p Материал площадки
                        select
                          option(value="val1") Материал площадки #1
                          option(value="val2") Материал площадки #2
                          option(value="val3") Материал площадки #3
                          option(value="val4") Материал площадки #4
                    .edit-page__pa-row
                      .input-checkbox
                        label Есть зарядка для электромобиля
                          input(type='checkbox')
                          span.checkmark

          .edit-page__area
            .edit-page__pa-grid
              .edit-page__pa-left
                p.edit-page__types-title.edit-page__border Дополнительно
                .edit-page__materials-area
                  .edit-page__pa-row
                    .edit-page__pa-flex.edit-page__pa-flex--select
                      p Камин
                      select
                        option(value="val1") Камин #1
                        option(value="val2") Камин #2
                        option(value="val3") Камин #3
                        option(value="val4") Камин #4
                  .edit-page__pa-row
                    .edit-page__pa-flex.edit-page__pa-flex--select
                      p Барбекю
                      select
                        option(value="val1") Барбекю #1
                        option(value="val2") Барбекю #2
                        option(value="val3") Барбекю #3
                        option(value="val4") Барбекю #4
                  .edit-page__pa-row
                    .edit-page__pa-flex.edit-page__pa-flex--select
                      p
                      .edit-page__materials-checkboxes
                        .input-checkbox
                          label Гриль
                            input(type='checkbox')
                            span.checkmark
                        .input-checkbox
                          label Пицца-печь
                            input(type='checkbox')
                            span.checkmark
                        .input-checkbox
                          label Казан
                            input(type='checkbox')
                            span.checkmark
                        .input-checkbox
                          label Коптильня
                            input(type='checkbox')
                            span.checkmark
                  .edit-page__pa-row.edit-page__pa-row--checkboxes
                    .input-checkbox
                      label Винный погреб
                        input(type='checkbox')
                        span.checkmark
                    .input-checkbox
                      label Кинотеатр
                        input(type='checkbox')
                        span.checkmark

              .edit-page__pa-right.edit-page__pa-right--editable
                p.edit-page__types-title.edit-page__border SPA-зона в доме
                .edit-page__materials-area
                  .edit-page__pa-row
                    .edit-page__pa-row--spa-checkboxes
                      .input-checkbox
                        label Финская сауна (сухая)
                          input(type='checkbox')
                          span.checkmark
                      .input-checkbox
                        label Ванна с гидромассажем
                          input(type='checkbox')
                          span.checkmark
                      .input-checkbox
                        label Русская баня (влажная)
                          input(type='checkbox')
                          span.checkmark
                      .input-checkbox
                        label Ванна 4+ чел
                          input(type='checkbox')
                          span.checkmark
                      .input-checkbox
                        label Хамам
                          input(type='checkbox')
                          span.checkmark
                      .input-checkbox
                        label Тропический душ
                          input(type='checkbox')
                          span.checkmark
                      .input-checkbox
                        label Купель
                          input(type='checkbox')
                          span.checkmark
                      .input-checkbox
                        label Соляная комната
                          input(type='checkbox')
                          span.checkmark
                      .input-checkbox
                        label Массажный стол или кабинет
                          input(type='checkbox')
                          span.checkmark
                      .input-checkbox
                        label Ледяная комната или фонтан
                          input(type='checkbox')
                          span.checkmark
                        
                  .edit-page__pa-row
                    .edit-page__pa-flex.edit-page__pa-flex--select
                      p Бассейн
                      select
                        option(value="val1") Бассейн #1
                        option(value="val2") Бассейн #2
                        option(value="val3") Бассейн #3
                        option(value="val4") Бассейн #4
                  .edit-page__pa-row
                    .edit-page__pa-flex.edit-page__pa-flex--input
                      p Длина
                      .input-container.input-container--short
                        input(type="text")
          .edit-page__area
            p.edit-page__types-title.edit-page__border Ограждение периметра
            .edit-page__materials
              .edit-page__pa-grid
                .edit-page__pa-left
                  .edit-page__pa-row
                    .edit-page__pa-flex.edit-page__pa-flex--select
                      p Материал забора
                      select
                        option(value="val1") Материал забора #1
                        option(value="val2") Материал забора #2
                        option(value="val3") Материал забора #3
                        option(value="val4") Материал забора #4
                  .edit-page__pa-row
                    .edit-page__pa-flex.edit-page__pa-flex--select
                      p Прозрачность забота
                      select
                        option(value="val1") Прозрачность забота #1
                        option(value="val2") Прозрачность забота #2
                        option(value="val3") Прозрачность забота #3
                        option(value="val4") Прозрачность забота #4
                  .edit-page__pa-row
                    .edit-page__pa-flex.edit-page__pa-flex--select
                      p Столбы
                      select
                        option(value="val1") Столбы #1
                        option(value="val2") Столбы #2
                        option(value="val3") Столбы #3
                        option(value="val4") Столбы #4
                  .edit-page__pa-row
                    .edit-page__pa-flex.edit-page__pa-flex--input
                      p Высота забора
                      .input-container.input-container--short
                        input(type="text")
                  .edit-page__pa-row
                    .input-checkbox
                      label Есть подсветка забора
                        input(type='checkbox')
                        span.checkmark
                        
                .edit-page__pa-right
                  .edit-page__pa-row
                    .edit-page__pa-flex.edit-page__pa-flex--select
                      p Ворота
                      select
                        option(value="val1") Ворота #1
                        option(value="val2") Ворота #2
                        option(value="val3") Ворота #3
                        option(value="val4") Ворота #4
                  .edit-page__pa-row
                    .edit-page__pa-flex.edit-page__pa-flex--select
                      p Материал ворот
                      select
                        option(value="val1") Материал ворот #1
                        option(value="val2") Материал ворот #2
                        option(value="val3") Материал ворот #3
                        option(value="val4") Материал ворот #4
                  .edit-page__pa-row
                    .input-checkbox
                      label Дистанционное открытие ворот
                        input(type='checkbox')
                        span.checkmark
                  .edit-page__pa-row
                    .edit-page__pa-flex.edit-page__pa-flex--input
                      p Количество калиток
                      .input-container.input-container--short
                        input(type="text")
                  .edit-page__pa-row
                    .input-checkbox
                      label Дистанционное открытие калитки
                        input(type='checkbox')
                        span.checkmark
            .edit-page__button
              input.btn(type="submit", value="Сохранить")
              .edit-page__button-radio
                .input-checkbox--radio
                  label и продолжить редактирование
                    input(type='radio' name="group2")
                    span.checkmark
                .input-checkbox--radio
                  label перейти в список
                    input(type='radio' name="group2")
                    span.checkmark
                .input-checkbox--radio
                  label добавить ещё 1 объект
                    input(type='radio' name="group2")
                    span.checkmark
                
      // блок Материалы и отделка конец

      // блок Описание дома начало
      .edit-page__area
        p.edit-page__types-title.edit-page__border Описание дома
        .edit-page__about
          .edit-page__about-buttons
            a(href="#") Для cian.ru
            a.is-active(href="#") Для сайта
          p В данном описании необходимо указывать ту информацию, которая не попадает автоматически формируемый текст в выгрузке или заполняемые на площадке характеристики
          .input-container
            textarea
          .edit-page__button
            input.btn(type="submit", value="Сохранить")
            .edit-page__button-radio
              .input-checkbox--radio
                label и продолжить редактирование
                  input(type='radio' name="group2")
                  span.checkmark
              .input-checkbox--radio
                label перейти в список
                  input(type='radio' name="group2")
                  span.checkmark
              .input-checkbox--radio
                label добавить ещё 1 объект
                  input(type='radio' name="group2")
                  span.checkmark
      // блок Описание дома конец

      // блок Фотографии начало

      .edit-page__area
        .edit-page__photos
          p.edit-page__types-title.edit-page__border Фотографии
          form(action="#")
          .edit-page__photos-head
            .edit-page__photos-form
              .input-container
                input(type="text", name="" placeholder="Название папки с фото на сервере")
              a.btn(href="#")
                span Загрузить фото
                  span.plus
            .edit-page__photos-link
              p Продажа:
              a(href="#") Для сайта
              a(href="#") Для презентации
              a(href="#") Для ЦИАН и Яндекс.Недвижимости
            
          .edit-page__area
            p.edit-page__types-title.edit-page__border Активные фото
            .edit-page__photos-grid.photos-active
              .edit-page__photos-item
                img(src="img/item-1.jpg", alt="")
                a(href="#")
                  span
              .edit-page__photos-item
                img(src="img/item-2.jpg", alt="")
                a(href="#")
                  span
              .edit-page__photos-item
                img(src="img/item-3.jpg", alt="")
                a(href="#")
                  span
              .edit-page__photos-item
                img(src="img/item-4.jpg", alt="")
                a(href="#")
                  span
              .edit-page__photos-item
                img(src="img/item-5.jpg", alt="")
                a(href="#")
                  span
              .edit-page__photos-item
                img(src="img/item-6.jpg", alt="")
                a(href="#")
                  span
              .edit-page__photos-item
                img(src="img/item-2.jpg", alt="")
                a(href="#")
                  span
              .edit-page__photos-item
                img(src="img/item-4.jpg", alt="")
                a(href="#")
                  span
              .edit-page__photos-item
                img(src="img/item-1.jpg", alt="")
                a(href="#")
                  span
              .edit-page__photos-item
                img(src="img/item-4.jpg", alt="")
                a(href="#")
                  span
              .edit-page__photos-item
                img(src="img/item-5.jpg", alt="")
                a(href="#")
                  span
              .edit-page__photos-item
                img(src="img/item-6.jpg", alt="")
                a(href="#")
                  span
              a.edit-page__rooms-open-more(href="#" js-open-rooms)
                span

          .edit-page__area
            p.edit-page__types-title.edit-page__border Не показывать
            .edit-page__photos-grid.photos-not-active
              .edit-page__photos-item
                img(src="img/item-6.jpg", alt="")
                a(href="#")
                  span
              .edit-page__photos-item
                img(src="img/item-2.jpg", alt="")
                a(href="#")
                  span
              .edit-page__photos-item
                img(src="img/item-4.jpg", alt="")
                a(href="#")
                  span
              .edit-page__photos-item
                img(src="img/item-1.jpg", alt="")
                a(href="#")
                  span
              .edit-page__photos-item
                img(src="img/item-4.jpg", alt="")
                a(href="#")
                  span
              .edit-page__photos-item
                img(src="img/item-5.jpg", alt="")
                a(href="#")
                  span
              .edit-page__photos-item
                img(src="img/item-6.jpg", alt="")
                a(href="#")
                  span
              a.edit-page__photos-open-more(href="#" js-open-rooms)
                span

          .edit-page__button
            input.btn(type="submit", value="Сохранить")
            .edit-page__button-radio
              .input-checkbox--radio
                label и продолжить редактирование
                  input(type='radio' name="group2")
                  span.checkmark
              .input-checkbox--radio
                label перейти в список
                  input(type='radio' name="group2")
                  span.checkmark
              .input-checkbox--radio
                label добавить ещё 1 объект
                  input(type='radio' name="group2")
                  span.checkmark
          

      // блок Фотографии конец

      // блок Видео начало

      .edit-page__area
        form(action="#")
          p.edit-page__types-title.edit-page__border Видео
          .edit-page__video
            p.edit-page__types-title Слайд-шоу
            .edit-page__video-grid
              .edit-page__video-item.edit-page__video-item--buttons
                a.btn(href="#") Скачать
                a.btn.btn--plus(href="#")
                  span Добавить
                    span.plus
              .edit-page__video-item
                .input-container
                  input(type="text", name="" value="https://www.jqestete.com/upload/video/id18345.mpg")
              .edit-page__video-item
                p Ссылка на видео youtube.com
                .input-container
                  input(type="text", name="")
          .edit-page__button
            input.btn(type="submit", value="Сохранить")
            .edit-page__button-radio
              .input-checkbox--radio
                label и продолжить редактирование
                  input(type='radio' name="group2")
                  span.checkmark
              .input-checkbox--radio
                label перейти в список
                  input(type='radio' name="group2")
                  span.checkmark
              .input-checkbox--radio
                label добавить ещё 1 объект
                  input(type='radio' name="group2")
                  span.checkmark
          
      // блок Видео конец

      // блок Контакты начало

      .edit-page__area
        p.edit-page__types-title.edit-page__border Контакты
        .edit-page__contacts
          .edit-page__contacts-item
            p.title.title--red Константинопольский Константин Константинович
            .edit-page__contacts-info
              p +7 986 123-45-67
              p +7 903 123-45-67
              a(href="#") kostakosta@mail.ru
              p.status Собственник
            a(href="#") редактировать
          .edit-page__contacts-item
            p.title Валерий
            .edit-page__contacts-info
              p +7 986 123-45-67
              p.status Строитель, супервайзер (персонал)
            a(href="#") редактировать
          
          
      // блок Контакты конец

      // блок Контакты начало

      .edit-page__area
        form(action="#")
          p.edit-page__types-title.edit-page__border Добавить контакт
          .edit-page__add-contact
            .edit-page__add-contact--full
              p Выбрать из имеющихся
              .input-container
                input(type="text", name="")
              p или создать и прикрепить к объекту новый контакт
            .edit-page__add-contact-grid
              .edit-page__add-contact-item
                .edit-page__add-contact-row
                  p Фамилия
                  .input-container
                    input(type="text", name="")
                .edit-page__add-contact-row
                  p Имя
                  .input-container
                    input(type="text", name="")
                .edit-page__add-contact-row
                  p Отчество
                  .input-container
                    input(type="text", name="")
              .edit-page__add-contact-item
                .edit-page__add-contact-row
                  p Мобильный телефон
                  .input-container
                    input(type="text", name="")
                .edit-page__add-contact-row
                  p Рабочий телефон
                  .input-container
                    input(type="text", name="")
                .edit-page__add-contact-row
                  p Электронная телефон
                  .input-container
                    input(type="text", name="")
              .edit-page__add-contact-item
                .edit-page__add-contact-row
                  p Тип контакта
                  select
                    option(value="val1") Тип #1
                    option(value="val2") Тип #2
                    option(value="val3") Тип #3
                    option(value="val4") Тип #4
                .edit-page__add-contact-row
                  p Предпочтительный способ связи
                  select
                    option(value="val1") Способ #1
                    option(value="val2") Способ #2
                    option(value="val3") Способ #3
                    option(value="val4") Способ #4
                .edit-page__add-contact-row
                  p Дата рождения
                  .input-container
                    input(type="text", name="")
          .edit-page__button
            input.btn(type="submit", value="Сохранить")
            .edit-page__button-radio
              .input-checkbox--radio
                label и продолжить редактирование
                  input(type='radio' name="group2")
                  span.checkmark
              .input-checkbox--radio
                label перейти в список
                  input(type='radio' name="group2")
                  span.checkmark
              .input-checkbox--radio
                label добавить ещё 1 объект
                  input(type='radio' name="group2")
                  span.checkmark

      // блок Контакты конец

      // блок Ответственные начало

      .edit-page__area
        form(action="#")
          p.edit-page__types-title.edit-page__border Ответственные
          .edit-page__add-contact
            .edit-page__add-contact-grid
              .edit-page__add-contact-item
                p Принёс контакт
                select
                  option(value="val1") Способ #1
                  option(value="val2") Способ #2
                  option(value="val3") Способ #3
                  option(value="val4") Способ #4

              .edit-page__add-contact-item
                p Принёс контакт
                select
                  option(value="val1") Способ #1
                  option(value="val2") Способ #2
                  option(value="val3") Способ #3
                  option(value="val4") Способ #4

              .edit-page__add-contact-item
                // пустой блок нужно оставить для одинаковой сетки с верхним блоком контакты
            
          .edit-page__button
            input.btn(type="submit", value="Сохранить")
            .edit-page__button-radio
              .input-checkbox--radio
                label и продолжить редактирование
                  input(type='radio' name="group2")
                  span.checkmark
              .input-checkbox--radio
                label перейти в список
                  input(type='radio' name="group2")
                  span.checkmark
              .input-checkbox--radio
                label добавить ещё 1 объект
                  input(type='radio' name="group2")
                  span.checkmark

      // блок Ответственные конец

      // блок Комментарии начало

      .edit-page__area
        p.edit-page__types-title.edit-page__border Комментарии
        .edit-page__comments
          .edit-page__comments-item
            .edit-page__comments-name
              .edit-page__comments-image
                img(src="img/icon-mess.png", alt="")
              .edit-page__comments-info
                p.name Татьяна Македонова
                p.date 27.03.2019 10:45
            .edit-page__comments-content
              p Объект актуализировала, новая цена 4 500 000
          .edit-page__comments-item
            .edit-page__comments-name
              .edit-page__comments-image
                img(src="img/icon-mess.png", alt="")
              .edit-page__comments-info
                p.name Павел Бондаренко
                p.date 27.03.2019 10:45
            .edit-page__comments-content
              p Все данные для внесения объекта передал
          form(action="#")
            .edit-page__comments-form
              .input-container
                //- input(type="text", name="" placeholder="Текст комментария")
                textarea(row="1" placeholder="Текст комментария")
              input.btn(type="submit", value="Добавить")
        
      // блок Комментарии конец

      // блок История коммента начало

      .edit-page__area
        .edit-page__objects
          .edit-page__objects-item
            p Объект создан:
            .edit-page__objects-name
              p.name Татьяна Македонова
              p.date 27.03.2019 10:45
          .edit-page__objects-item
            p Объект изменён:
            .edit-page__objects-name
              p.name Татьяна Македонова
              p.date 27.03.2019 10:45
          .edit-page__objects-item
            p Фотографии изменены:
            .edit-page__objects-name
              p.name Татьяна Македонова
              p.date 27.03.2019 10:45
          .edit-page__objects-item
            p Стоимость продажи изменена:
            .edit-page__objects-name
              p.name Татьяна Македонова
              p.date 27.03.2019 10:45
          .edit-page__objects-item
            p Стоимость аренда изменена:
            .edit-page__objects-name
              p.name Татьяна Македонова
              p.date 27.03.2019 10:45
          .edit-page__objects-item
            p Статус изменён:
            .edit-page__objects-name
              p.name Татьяна Македонова
              p.date 27.03.2019 10:45
          
      // блок История коммента конец