---
title: jq-cabinet
---
extends shared/_layout
block content

  include ../pug/components/_headerptsans

  // BEGIN SECTION :: firstscreen
  section.firstscreen.ptsans
    .container
      h1 Заголовок h1
      br
      h2 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab fuga porro velit! A voluptatem sed reiciendis eum accusantium aspernatur deleniti temporibus, nesciunt id repudiandae mollitia ipsum debitis modi vero corrupti!
  
  // END SECTION :: firstscreen