
/* STYLES NEW PAGE-EDIT */

.edit-page

  &__head
    padding-top: 56px

    h2
      font-size: 30px
      font-weight: 400
      white-space: nowrap
      margin-right: 50px
      display: inline-block
      margin-top: 20px
      &:last-child
        margin-right: 0

  &__types
    display: flex
    align-items: flex-start
    padding-top: 42px
    border-bottom: 1px solid $colorRed
    padding-bottom: 44px
    flex-wrap: wrap
    &-title
      font-size: 23px
      margin-right: 25px
      margin-top: 17px
      line-height: 1
    .input-checkbox--radio
      margin-right: 26px
      margin-top: 20px
      &:last-child
        margin-right: 0

  &__location
    display: flex
    align-items: center
    padding: 39px 0 79px
    .edit-page__types-title
      margin: 15px 20px 0 0
    &-select
      margin-right: 20px
      width: 100%
      position: relative
      p
        padding-bottom: 7px
        font-size: 15px
        line-height: 1
    &-input
      margin-right: 20px
      width: 100%
      p
        padding-bottom: 7px
        font-size: 15px
        line-height: 1
      &.i-number
        max-width: 120px
      &.i-kadastr
        margin-right: 0
        max-width: 150px
    &-link
      position: absolute
      left: 0
      top: calc(100% + 16px)
      width: 200%
      span
        font-size: 15px
        color: $colorRed
        border-bottom: 1px dotted $colorRed
        position: relative
        &:after
          position: absolute
          display: block
          content: ''
          width: 0
          height: 1px
          background: $colorRed
          left: 0
          bottom: -1px
          transition: all $transitionSpeed $ease
        &:hover
          &:after
            width: 100%


  &__map
    font-size: 0
    width: 100%
    img
      width: 100%
      height: auto
    &-left
      padding-right: 2.5%
      display: flex
      width: 100%

    &-right
      padding-left: 2.5%
      display: flex
      justify-content: flex-end
      text-align: right
      width: 100%

    &-info
      display: flex
      width: 100%
      justify-content: space-between
      padding-top: 17px

      p
        font-size: 13px
        color: #898989
        margin-right: 5%

        &:last-child
          margin-right: 0
        span
          color: #000
          margin-left: 4px
      a
        text-decoration: none
        color: $colorRed
        margin-left: 5%
        font-size: 13px
        &:first-child
          margin-left: 0

  &__button
    display: flex
    align-items: center
    flex-wrap: wrap
    margin-top: 45px
    .btn
      background: #00c853
      border-color: #00c853
      width: 100%
      border-radius: 50px
      font-size: 19px
      padding: 13px
      cursor: pointer
      margin-right: 25px
      max-width: 360px
      width: 50%
      margin-bottom: 15px
    &-radio
      display: flex
      align-items: center
      flex-wrap: nowrap
      padding: 16px 0
      margin-bottom: 15px
      .input-checkbox--radio
        margin-right: 25px

  .edit-page__border
    border-bottom: 1px solid $colorRed
    padding-bottom: 10px

  &__visibility
    padding: 70px 0 40px
    &-checkboxes
      padding-top: 15px
      display: flex
      flex-wrap: wrap
    .input-checkbox
      margin: 20px 25px 0 0

  &__pa
    .edit-page__types-title
      margin-right: 0
    &-grid
      display: flex
      .edit-page__button
        .btn
          width: 100%
          margin-right: 0
          max-width: 100%
    &-left
      max-width: 580px
      width: 49%
    &-right
      max-width: 580px
      width: 49%
      margin-left: auto
    &-item
      margin-top: 50px
    &-row
      margin-top: 35px
      p
        padding-bottom: 7px
        font-size: 15px
        line-height: 1
      .input-container
        &--price
          width: 100%
          max-width: 160px
          margin-right: 20px
        &--percent
          display: flex
          align-items: center
          margin-right: 16px
          width: 100%
          max-width: 85px
          input
            max-width: 55px
            width: 100%
          p
            font-size: 22px
            line-height: 1
            padding: 0
            margin-left: 8px
      &--flex-start
        display: flex
        align-items: flex-start
        width: 100%
      &--flex-end
        display: flex
        align-items: flex-end
        width: 100%
        p
          padding-bottom: 13px
      &-part
        margin-right: 20px
        width: 100%
        .edit-page__pa-row
          &:first-child
            margin-top: 0
        &--input
          max-width: 80px
          width: 100%
          margin-right: 0
    &-checkboxes-vertical
      margin-left: auto
      padding-top: 26px
      flex: 1 0 176px
      .input-checkbox
        margin-bottom: 20px
    &-radio-vertical
      flex: 1 0 176px
      p
        padding-bottom: 10px
      .input-checkbox--radio
        margin: 0 0 10px 0
    &-flex
      display: flex
      align-items: center
      .filter__currency
        max-width: 200px
        width: 100%
        padding-bottom: 0
        // padding-top: 7px
      .input-radio
        margin-bottom: 0
        span
          background: #f0f1f2
      p.fix
        padding: 0
        margin-right: 10px
        font-size: 15px
      &--select
        p
          margin-right: 20px
          padding-bottom: 0
        .selectric-wrapper
          width: 100%
      &-part
        display: flex
        width: 100%
        align-items: center
    &-checkboxes
      display: flex
      .input-checkbox
        margin-bottom: 0
        margin-top: 20px
        margin-right: 20px
        &:last-child
          margin-right: 0

  &__history
    .edit-page__types-title
      margin-right: 0
    &-container
      display: none
    &-grid
      display: flex
    &-left
      max-width: 580px
      width: 49%
      margin-top: 30px
    &-right
      max-width: 580px
      width: 49%
      margin-left: auto
      margin-top: 30px
    &-link
      text-align: center
      padding: 40px 0 10px
      a
        display: inline-block
        line-height: 1.3
        span 
          padding-bottom: 1px
          color: $colorRed
          border-bottom: 1px dotted $colorRed
    &-row
      margin-top: 20px
      display: flex
      &-part
        display: flex
        width: 100%
      p
        font-size: 15px
        text-align: left
        &.date
          color: $colorRed
          max-width: 110px
          width: 100%
          margin-right: 4%
        &.price
          text-align: left
        &.status
          margin-left: auto
          margin: 0 10px 0 auto
          padding-left: 30px
          text-align: left
          max-width: 150px
          width: 100%
          text-align: left

  &__area
    margin-top: 60px
    .edit-page__types-title
      margin-right: 0
      margin-bottom: 10px
    &-grid
      display: flex
      width: 100%
      justify-content: space-between
      &-item
        max-width: 285px
        // width: 46%
        &:last-child
          margin-left: auto
          padding-left: 30px
      &-row
        margin-top: 20px
        display: flex
        align-items: center
        p
          max-width: 180px
          margin-right: 20px
          width: 100%
        .input-container
          max-width: 70px
          width: 100%
    &-row
      display: flex
      align-items: center
      margin-top: 20px
      p
        max-width: 230px
        padding-right: 20px
        width: 100%
        &.short
          max-width: 125px
          padding-right: 10px
      .input-container
        width: 100%
        &--short
          max-width: 70px
      .selectric-wrapper
        width: 100%
    &--flex-start
      display: flex
      align-items: flex-start
      p
        min-width: 125px
        max-width: 125px
      &--editable
        margin-top: 20px

      .edit-page__pa-checkboxes-vertical
        padding-top: 0
        flex: 1 0 100%
        .input-checkbox
          margin-bottom: 10px
    .edit-page__visibility-checkboxes
      .input-checkbox
        margin-right: 40px
        &:last-child
          margin-right: 0
    &-selects
      margin-top: 20px
      display: flex
      align-items: center
      p
        white-space: nowrap
        margin-right: 10px
      &-item
        margin-right: 3%
        display: flex
        align-items: center
        width: 100%
        margin-top: 20px
        .selectric-wrapper
          width: 100%
        .input-container
          max-width: 70px
          min-width: 70px
          width: 100%
        &:last-child
          margin-right: 0
          width: auto
      

+r($desktop1068)
  .edit-page
    &__area
      &-selects
        flex-wrap: wrap
        justify-content: space-between
        &-item
          width: 48%
          margin-right: 0
          p
            min-width: 80px
            max-width: 80px
          &:last-child
            width: 48%
            p
              white-space: normal
          .input-container
            &--short
              max-width: 100%
        


+r($tablet)
  .edit-page
    &__head
      padding-top: 10px
      h2
        font-size: 20px
        margin-top: 25px
        white-space: normal

    &__types
      padding: 30px 0
      &-title
        width: 100%
        font-size: 20px
        margin-top: 0
      .input-checkbox--radio
        margin-right: 15px

    &__location
      flex-direction: column
      padding: 25px 0
      .edit-page__types-title
        margin: 0
      &-select
        margin: 22px 0 0 0
      &-input
        margin: 22px 0 0 0
        &.i-number
          max-width: 100%
        &.i-kadastr
          margin-right: 0
          max-width: 100%
      &-link
        display: none

    &__map
      &-left
        padding-right: 0
        width: 100%
        justify-content: space-between

      &-right
        padding-left: 0
        justify-content: flex-start
        text-align: left
        flex-direction: column

      &-info
        display: flex
        flex-direction: column
        width: 100%
        justify-content: space-between
        padding-top: 17px

        p
          font-size: 12px
          margin-right: 0

        a
          margin-left: 0
          font-size: 12px
          display: inline-block
          margin-top: 17px

    &__button
      display: flex
      flex-direction: column
      align-items: flex-start
      justify-content: flex-start
      margin-top: 25px
      .btn
        font-size: 16px
        padding: 15px
        max-width: 100%
        margin-bottom: 0
        margin-right: 0
        width: 100%
      &-radio
        display: flex
        flex-wrap: wrap
        padding: 0
        margin-bottom: 0
        .input-checkbox--radio
          // margin-right: 0
          margin-top: 20px

    &__pa
      &-grid
        flex-direction: column
      &-item
        margin-top: 25px
        min-height: 1px !important
      &-left
        max-width: 100%
        width: 100%
      &-right
        max-width: 100%
        width: 100%
      &-row
        margin-top: 20px
        .input-container
          &--price
            max-width: 100%
            margin-right: 0
            margin-bottom: 20px
        &-part
          margin-right: 0
        &--flex-start
          flex-direction: column
          align-items: flex-start
          justify-content: flex-start
        &--flex-end
          flex-direction: column
          align-items: flex-start
          justify-content: flex-start
          .edit-page__pa-row-part
            margin-bottom: 15px
          p
            padding-bottom: 7px
      &-flex
        flex-wrap: wrap
        .filter__currency
          max-width: 100%
        &-part
          margin-bottom: 20px
          .input-container--price
            margin-bottom: 0
      &-flex--select
        flex-direction: column
        align-items: flex-start
        p
          margin-right: 0
          padding-bottom: 7px
      &-checkboxes
        flex-direction: column
      &-radio-vertical
        margin-top: 15px
        flex: 1 0 100%
      &-checkboxes-vertical
        margin-left: 0
        padding-top: 15px
        flex: 1 0 100%

    &__history
      &-grid
        display: flex
        flex-direction: column
      &-left
        max-width: 100%
        width: 100%
      &-right
        max-width: 100%
        width: 100%
        margin-left: 0
        margin-top: 30px
      &-row
        flex-direction: column
        &-part
          margin-top: 3px
        p
          &.status
            margin: 0 0 0 auto
            padding: 0 0 0 25px
            max-width: 120px
      &-link
        text-align: center
        padding: 30px 0 0px
    &__area
      margin-top: 30px
      .edit-page__types-title
        margin-bottom: 0px
      .edit-page__pa-right--editable
        margin-top: 30px
      .edit-page__visibility-checkboxes
        flex-direction: column

      &-row
        align-items: flex-start
        flex-direction: column
        margin-top: 20px
        p
          max-width: 100%
          padding-right: 0
          padding-bottom: 7px
          &.short
            max-width: 100%
      &--flex-start
        display: flex
        align-items: flex-start
        flex-direction: column
        p
          min-width: 115px
          max-width: 115px
          padding-bottom: 15px

        .edit-page__pa-checkboxes-vertical
          padding-top: 0
          .input-checkbox
            margin-bottom: 10px
      &-grid
        flex-direction: column
        &-item
          max-width: 100%
          width: 100%
          &:last-child
            margin-left: 0
            padding-left: 0
        &-row
          p
            margin-right: auto
      &-selects
        margin-top: 0
        display: flex
        flex-direction: column
        align-items: flex-start
        p
          white-space: nowrap
          min-width: 100%
          max-width: 100%
          margin: 0
          padding-bottom: 7px
        &-item
          margin-right: 0
          display: flex
          align-items: flex-start
          flex-direction: column
          width: 100%
          margin-top: 20px
          .selectric-wrapper
            width: 100%
          .input-container
            max-width: 70px
            min-width: 70px
            width: 100%
          &:last-child
            margin-right: 0
            width: auto